<ion-view view-title="Duck's wall">
  <ion-content class="padding">
    <ion-list>
    <ion-item class="list card" ng-repeat="tweet in tweets">
      <div class="item item-divider">{{tweet.content}}</div>
      <div class="item item-body">
        <!--<div>
         {{tweet.user_id}}
        </div>-->
        <div>
          {{tweet.date | date:smallDate}} 
        </div>
      </div>
    </ion-item>
    </ion-list>
    <!--<button class="button button-block button-positive" ng-click="loadMore()">
      Load More...
    </button>-->
  </ion-content>
  <ion-footer-bar  class="bar-clear">
    <div class="buttons ion-plus" ng-click="doSomething()">
      <button class="button">Right Button</button>
    </div>
  </ion-footer-bar>

</ion-view>

